/* =============================== CSS RESET =============================== */

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Universal box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Reset all margins */
* {
  margin: 0;
}

body {
  /* Set an accessible line height */
  line-height: 1.5;
  /* Disable subpixel antialiasing on macOS */
  -webkit-font-smoothing: antialiased;
}

/* Make these block elements by default */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Fix form field typography */
input, button, textarea, select {
  font: inherit;
}

/* Better text wrapping */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* ======== CUSTOM ======== */

[popover] {
  top: unset;
  left: unset;
  bottom: unset;
  right: unset;
  border: none;

  &:popover-open {
    display: block;
  }
}

/* ================================ GLOBALS ================================ */

:root {
  --corner: 6px;
  --navbar-height: 60px;
  --page-margin: 60px;
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
}

/* =============================== COMPONENTS =============================== */

html {
  font-family: "Inter";
}

div#navigated {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: var(--navbar-height);
    background: var(--slate-700);
    z-index: 1000000000;

    > ul {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr max-content;
      padding: 0px;
      height: 100%;
      list-style-type: none;
      justify-content: space-between;

      > li {
        display: inline-flex;
        height: 100%;
        align-items: center;

        &#nav-rent-cta {
          place-self: end;
        }

        > a {
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        &#nav-user {
          > button {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            overflow: hidden;
            background-color: var(--slate-900);
            border-radius: 50%;
            width: 38px;
            height: 38px;
            border: none;
            cursor: pointer;
            /* TODO: Drop shadow */

            svg {
              height: 90%;
              width: auto;

              path {
                stroke: #ffffff;
                stroke-width: 1px;
              }
            }
          }
        }
      }
    }
  }

  > div#top-nav-user-popover {
    position: fixed;
    grid-template-columns: max-content auto max-content;
    grid-template-rows: auto;
    align-items: center;
    column-gap: 10px;
    padding: 0px;
    top: calc(var(--navbar-height) + 5px);
    right: var(--page-margin);
    border-radius: var(--corner);
    box-shadow: 0px 0px 1px 1px black;

    &:popover-open {
      display: grid;
    }

    > h1 {
      grid-column: 2;
      font-size: 1em;
      font-weight: 600;
      justify-self: start;
      padding-left: unset;
    }

    /* Unify anchor and button styles */
    > a {
      text-decoration: unset;
      color: unset;
      cursor: default;
    }

    > button {
      border: none;
      background-color: unset;
      padding: unset;
    }

    /* Actual styles */
    > button, > * {
      padding: 3px 0px 3px 5px;
    }

    > a, > button {
      display: grid;
      grid-column: 1 / 4;
      grid-template-columns: subgrid;
      cursor: pointer;

      > svg {
        display: inline;
      }

      > span {
        line-height: normal;
        vertical-align: text-bottom;
      }

      > :nth-child(1), > :nth-child(2) {
        justify-self: start;
      }

      > :nth-child(3) {
        justify-self: end;
      }
    }

    > a:hover, > button:hover {
      background-color: var(--slate-200);
    }
  }

  > div#nav-dummy {
    flex-grow: 0;
    height: var(--navbar-height);
  }

  > * {
    flex-grow: 1;
    align-self: stretch;
    padding: 0px var(--page-margin);
  }
}

div.simple-account-form-position {
  display: flex;
  justify-content: center;
  > div {
    position: fixed;
    top: 250px;
    height: fit-content;
    border-radius: var(--corner);
    background-color: var(--slate-100);
    padding: 20px 10px;
  }
}

form.simple-account-form {
  display: grid;
  grid-template-columns: max-content max-content;
  padding-left: 5ch;
  padding-right: 12.5ch;
  width: max-content;
  justify-content: center;
  column-gap: 5px;
  row-gap: 5px;
  font-size: 1.25em;

  > label {
    grid-column: 1;
    display: inline;
    text-align: end;
  }

  > input {
    grid-column: 2;
    min-width: none;
    border-radius: var(--corner);
    border: 1px solid var(--slate-700);
  }

  > button, > h1, > p, > a {
    grid-column: 2;
    width: fit-content;
  }

  > .centered, > button, > h1 {
    justify-self: center;
  }

  > p {
    max-width: 35ch;
  }

  > .column2 {
    grid-column: 2;
  }

  > button {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    border-radius: var(--corner);
  }

  > p, > a {
    font-size: 0.7em;
  }
}

.image-upload {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  > .image-upload-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;

    > .image {
      display: grid;
      justify-items: center;
      align-items: center;

      > .img {
        grid-area: 1 / 1 / 1 / 1;
        border-radius: var(--corner);
        border: 1px solid black;
        background: url(/static/icons/plus.svg) no-repeat center
          var(--slate-100);

        &[src] {
          background: unset;

          &:hover, &:has(+ .overlay:focus) {
            opacity: 0.5;
          }
        }
      }

      > .overlay {
        z-index: -1;
        grid-area: 1 / 1 / 1 / 1;
        width: 100%;
        height: 100%;
      }

      &:hover:has(> .img[src]) > .overlay,
      &:has(> .img[src]) > .overlay:focus {
        z-index: unset;
        display: grid;
        place-items: center center;
      }
    }
  }

  > button {
    width: fit-content;
  }

  > #image-upload-input {
    display: none;
    border-bottom: none;
  }

  > #image-upload-carrier {
    display: none;
  }
}

/* ================================= PAGES ================================== */
main#view-rental {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: min-content;
  row-gap: 10px;
  > h1 {
    grid-column: 1 / 3;
  }

  .left {
    > .main-gallery {
      margin-bottom: 20px;
      display: flex;
      gap: 10px;

      > .sub-gallery {
        display: grid;
        grid-template-columns: auto auto;
        align-content: space-between;
        gap: 10px;
      }
    }
    > .description {
      margin-top: 50px;
    }
  }
  > .calendar {
    padding: 10px;
    border-radius: var(--corner);
    border: 1px solid #475569;
    height: fit-content;
  }
}

main#register_new_listing {
  #page1, #page2, #page3, #page4, #page5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .maintext {
    align-items: center;
    text-align: center;
    position: relative;
  }

  .maintext h1 {
    font-size: 2.8em;
    margin-top: 50px;
    font-weight: bold;
  }

  .maintext p {
    font-size: 2.2em;
    font-weight: bold;
  }

  #page4 .maintext p {
    display: grid;
    grid-template-columns: max-content 1fr;
    position: relative;
    font-size: 2.0em;
    text-align: left;

    label {
      grid-column: 1;
      justify-self: end;
    }
    input {
      grid-column: 2;
    }
  }

  #page5 .maintext form {
    display: grid;
    justify-content: center;
    row-gap: 0.5em;
    grid-template-columns: max-content max-content max-content;

    p:nth-child(1) {
      margin-bottom: 2.0em;
    }

    p {
      font-size: 1.5em;
      text-align: left;

      display: grid;
      grid-column: 1 / 4;
      grid-template-columns: subgrid;

      > span.middle {
        grid-column: 1 / 4;
      }

      > .left {
        justify-self: end;
      }
      > .right {
        justify-self: start;
      }
    }

    label {
      grid-column: 1;
      justify-self: end;
    }
    input {
      grid-column: 2;
    }
  }

  input, output {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 26px;
    font-weight: normal;
    padding: 0px;
    text-align: center;
    display: inline-block;
  }

  input[type="text"] {
    width: 150px;
  }

  input[type="number"] {
    appearance: none;
    appearance: textfield;
  }

  output {
    color: rgb(74, 194, 74);
    display: inline-block;
    min-width: 80px;
    text-align: center;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
  }

  .maintext .page5 .line-input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    width: 15%;
    font-size: 26px;
    font-weight: normal;
    padding: 0px;
  }

  .page-counter {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    font-size: 1.5em;
  }

  .back-button button {
    position: fixed;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    bottom: 0px;
    left: 0px;
  }

  .line-input {
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 26px;
    font-weight: normal;
    padding: 0px;
  }

  input[name="address"] {
    width: 375px;
  }

  input[name="postalcode"] {
    width: 200px;
  }

  .button {
    background-color: var(--slate-700);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-size: 1.7em;
    margin: 20px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .textarea textarea {
    width: 550px;
    height: 250px;
    font-size: 16px;
    resize: none;
    margin-top: 45px;
    border-radius: 10px;
    font-weight: normal;
  }

  .pictures {
    margin-top: 150px;
  }

  .create-listing-button {
    display: block;
    margin-top: 30px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .image-upload-container {
    flex-grow: 2;
  }

  #summary {
    > .maintext {
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      justify-content: center;
      gap: 20px;

      > h2 {
        margin-top: 40px;
      }

      > .image-upload, .images-label, > h1, > h2, > .fields {
        grid-column: 1 / 4;
      }

      > label {
        &.images-label {
          justify-self: center;
        }
      }

      > .fields {
        display: grid;
        grid-column: 1 / 4;
        grid-template-columns: 1fr max-content 1fr;
        column-gap: 5px;
        align-items: end;

        > label {
          grid-column: 1;
          justify-self: end;
        }
        > input {
          text-align: start;
        }
        > input, > textarea {
          grid-column: 2;
          max-width: 300px;
        }
        > input[type="number"] {
          appearance: unset;
          max-width: 6ch;
        }
      }

      > button {
        grid-column: 1 / 4;
      }
    }
  }
}

main#search-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .spacer {
    height: 25px;
    width: 10px;
  }

  #search-bar {
    position: sticky;
    top: var(--navbar-height);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    background-color: var(--slate-300);
    padding: 15px;
    border-radius: 10px;
    width: max-content;
    z-index: 100;

    .search-container {
      display: grid;
      background: var(--slate-200);
      grid-auto-flow: column;
      padding: 10px 15px;
      border-radius: 12px;
      gap: 10px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    }

    .input-box {
      display: grid;
      grid-template-columns: 100%;
      background: var(--slate-50);
      padding: 10px;
      border-radius: 8px;
      width: 160px;
      cursor: pointer;

      &#who-box {
        padding-right: 12px;
      }

      label:nth-of-type(1) {
        grid-column: 1 / 3;
        font-size: 14px;
        font-weight: bold;
        color: var(--slate-900);
      }

      input {
        border: none;
        outline: none;
        font-size: 14px;
        color: var(--slate-900);
        background: none;
      }

      ::placeholder, input[type="date"] {
        text-align: center;
      }
    }

    .search-btn {
      background: var(--slate-600);
      color: var(--slate-100);
      border: none;
      padding: 12px 20px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      transition: background 0.3s ease;
    }

    .dropdown {
      position: sticky;
      background: var(--slate-100);
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      width: max-content;
      margin-top: 5px;
      /* top: calc(--navbar-height); */
      top: 0px;

      &.active {
        display: block;

        &#guests-box {
          display: grid;

          > div {
            display: grid;
            grid-template-columns: subgrid;
            grid-column: 1 / 5;
            justify-items: start;
            gap: 5px;

            > button {
              height: 1.2em;
              display: flex;
              align-items: center;
            }
          }
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      li {
        padding: 8px;
        cursor: pointer;
        border-bottom: 1px solid var(--slate-300);
        text-align: center;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: var(--slate-200);
        }
      }
    }
    #guests-box > div {
      display: flex;
      justify-content: flex;
      align-items: center;
    }

    #guests-box {
      background: var(--slate-100);
      color: black;
      border: none;
      padding: 5px;
      cursor: pointer;
      text-align: center;
    }
    #guests-box button:hover {
      background: var(--slate-700);
    }
  }

  #search-results {
    /* FIXME: Properly line up with the left edge of the user account button in the header */
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    width: 100%;
    justify-content: center;
  }

  div#search-popover {
    display: none;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: var(--slate-100);

    &:popover-open {
      display: grid;
    }
  }

  .property-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    background: var(--slate-200);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
    padding: 15px;
    text-align: center;
  }

  .property-card:hover {
    transform: scale(1.03);
  }

  .property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid var(--slate-300);
  }

  .property-card h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    color: var(--slate-900);
    min-height: 48px;
  }

  .property-card p {
    font-size: 1em;
    text-align: center;
    padding: 5px 15px;
    color: var(--slate-600);
    min-height: 48px;
  }

  .property-card .beds {
    font-weight: bold;
    color: var(--slate-700);
    font-size: 1em;
    margin-top: auto;
  }

  .property-link {
    text-decoration: none;
    color: inherit;
  }

  .property-link:hover {
    cursor: pointer;
  }

  .property-card .price {
    font-weight: bold;
    color: var(--slate-800);
  }
  .no-results {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--slate-600);
    margin-top: 2rem;
  }
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.4em;
    display: flex;
    align-items: center;
  }
  .icon-button svg {
    width: 24px;
    height: 24px;
  }

  .sort-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 1em;
    gap: 0.3em;
    font-size: 1em;
    user-select: none;
  }
  .sort-label svg {
    width: 16px;
    height: 16px;
  }
  .custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .custom-select-wrapper select {
    width: 100%;
    padding-right: 30px; /* space for icon */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    z-index: 2;
    position: relative;
  }
}

main#book-calendar {
  display: flex;
  justify-content: center;
}

main#book-confirm {
  display: flex;
  justify-content: center;
}

main#book-confirm {
  display: flex;
  justify-content: center;
}

main#user-profile {
  display: grid;
  gap: 20px;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: repeat(2, max-content);

  > .top_page {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: subgrid;
    margin: 2em 0px;

    > .button {
      grid-column: 3;
      grid-row: 1;
      background-color: var(--slate-700);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1.7em;
      border-radius: 5px;
      cursor: pointer;
      width: fit-content;
      height: fit-content;
    }

    > .profile_box {
      display: grid;
      border-radius: var(--corner);
      background: var(--slate-300);
      border: 2px solid black;
      width: 400px;
      height: fit-content;
      padding: 10px;

      > .circle {
        grid-column-start: 1;
        grid-row-start: 1;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;

        > .profile_picture {
          width: 100%;
        }
      }
      > .profile_box_info {
        grid-column-start: 2;
        grid-row-start: 1;
        padding: 1em;
        margin-top: 2em;
      }

      > .name {
        grid-column-start: 1;
        grid-row-start: 2;
        margin-left: 5em;
        margin-top: 1em;
      }
    }
    > .about {
      > .fieldset {
        width: 100%;
        padding: 0px;
        font-size: 1.3em;

        > fieldset {
          display: flex;
          flex-direction: column;
          padding: 0px;
          border-radius: var(--corner);

          /* Temporary hack since the page is relatively empty */
          > p {
            padding-bottom: 100px;
          }
        }
      }
    }
  }
  > .ad_preview {
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: var(--slate-200);
    border-radius: var(--corner);
    border: 2px solid black;

    > h3 {
      margin-top: 5px;
      margin-left: 5px;
    }

    > .ad_picture {
      align-content: center;
      max-width: 300px;
      max-height: 200px;
      overflow: hidden;
      margin: 2em;
    }
  }
  > .user_profile_edit {
    display: grid;
    gap: inherit;
    margin-top: 32px;

    > .buttons {
      display: flex;
      gap: 40px;
      flex-direction: column-reverse;
      grid-column: 3;

      > .button_cancel {
        background-color: var(--slate-300);
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.7em;
        border-radius: 5px;
        cursor: pointer;
      }

      > .button_confirm {
        background-color: var(--slate-700);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.7em;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    > .profile_pic {
      display: flex;
      flex-direction: column;
      grid-column-start: 1;
      grid-row-start: 1;
      width: 400px;
      align-items: center;

      > .circle_edit {
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        overflow: hidden;
      }

      > .button_picture {
        background-color: var(--slate-700);
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 15px 32px;
        font-size: 1.2em;
        border-radius: 5px;
        cursor: pointer;
        width: 50%;
      }

      > .item {
        margin-top: 2em;
        margin-bottom: 0.5em;
        margin-left: 5.4em;
        align-self: flex-start;
        font-size: 1.2em;
      }
    }
    > .info {
      grid-column-start: 2;
      grid-row-start: 1;

      > .fieldset {
        font-size: 1.5em;

        > form {
          > fieldset {
            display: grid;
          }
        }
      }
    }
  }
}

main#book-confirm {
  display: grid;
}
